// This is a manifest file that'll be compiled into application.js, which will include all the files
// listed below.
//
// Any JavaScript/Coffee file within this directory, lib/assets/javascripts, vendor/assets/javascripts,
// or vendor/assets/javascripts of plugins, if any, can be referenced here using a relative path.
//
// It's not advisable to add code directly here, but if you do, it'll appear at the bottom of the
// compiled file.
//
// Read Sprockets README (https://github.com/sstephenson/sprockets#sprockets-directives) for details
// about supported directives.
//                                                                                         
//= require jquery
//= require jquery_ujs
// require turbolinks
//= require tinymce
//= require bootstrap/modal
//= require_tree .
// Weather API - 28f50fb6f4b2ea5f
// String.prototype.trim()
// http://stackoverflow.com/questions/1418050/string-strip-for-javascript


if(typeof(String.prototype.trim) === "undefined")
{
    String.prototype.trim = function() 
    {
        return String(this).replace(/^\s+|\s+$/g, '');
    };
}
 function getCookie(name)
  {
    var re = new RegExp(name + "=([^;]+)");
    var value = re.exec(document.cookie);
    return (value != null) ? unescape(value[1]) : null;
  };

function ajax_search () {
	var label = $('#search_labels').val();
	var plang = $('#search_plangs').val();
	var command = $('#search_commands').val();
	$.getJSON( "/public/search", { search_label: label, search_plang: plang, search_command: command } )
	  	.done(function( json ) {
		    console.log(  json );
		    article = json;
		    append_search_result(article);
 			}
	)
}
function append_search_result (article) {
	var result = [];
	for (var i = article.length - 1; i >= 0; i--) {
		result[i] = '<div class="article_search_result col-lg-2"><h1 class="result" data-id="'+i+'">'+article[i]['name']+'</h1></div> '
		
	};
	$('#search_results').html(result.join(''));

}
function load_article_content (id) {
	var target = $('.article-content')
	target.html('<h1 class="article_headline">'+article[id]["name"]+'</h1><div class="content">'+article[id]["content"]+'</div>')
	if (getCookie('signed_in') == '1') {
		target.append('<a data-confirm="Tuti?" data-method="delete" href="/admin/destroy/'+article[id]["id"]+'" rel="nofollow" title="Delete '+article[id]["name"]+'">Törlés</a> <a href="/admin/edit/'+article[id]["id"]+'">Szerkesztés</a>')
	}
}



$(function(){	
	var search_label_type;	
	$(window).mousemove(function(e) {
		var width = $(window).width();
    	 $('.silhouette').css('right',( e.pageX /width ) * (width - 2200)+'px' ) ; 
    	
	});
	$('body').on('click', 'h1.result',function(){
		var id = $(this).data("id");
		load_article_content(id);
	});
	

	search_refresh = function(label_type) {
		search_label_type = label_type
		var $active_search = $('#active-search');
		var $inactive_search = $('#inactive-search');
		var $modal_head = $('.modal-title');
		var labels = window[label_type];
		var active_labels = window['active_'+ label_type];
		var inactive_array = [];
		var active_array = [];
		for (var i = labels.length - 1; i >= 0; i--) {
			inactive_array.push('<div class="tag"><p>'+labels[i]+'</p></div>');
		};
		for (var i = active_labels.length - 1; i >= 0; i--) {
			active_array.push('<div class="tag"><p>'+active_labels[i]+'</p></div>');
		};
		$inactive_search.html(inactive_array);
		$active_search.html(active_array);
		switch(search_label_type) {
			case 'search_labels' :
				$modal_head.text('Cimkék');
			break;
			case 'search_plangs' :
				$modal_head.text('Program nyelvek');
			break;
			case 'search_commands' :
				$modal_head.text('Parancsok');
			break;
		}
		$('#'+search_label_type).val(active_labels.join(','));

	}

	$('body').on('click', '#inactive-search > .tag',function(){		
		var content = $(this).children().text();
		console.log(search_label_type,content);
		search_move(search_label_type,'active_'+search_label_type,content);

	});
	$('body').on('click', '#active-search > .tag',function(){		
		var content = $(this).children().text();
		console.log(search_label_type,content);
		search_move('active_'+search_label_type,search_label_type,content);

	});
	
	search_move = function(from,to,what) {
		var from = window[from];
		var to = window[to];
		var index = from.indexOf(what)
		to.push(from[index]);
		from.splice(index,1);
		search_refresh(search_label_type);
	}
	// CIKK SZERKESZTÉSE, HOZZÁADÁSA
	$('body.add').each(function(){
	console.log('ÉN VAGYOK AZ ADD');
	$(".add-tag").each(function(){
		console.log("addtag: ", this);
		$(this).keydown(function(e){
			console.log( "keydown", e, this );
			if(event.keyCode == 13) {
				event.preventDefault();
			}
		});
	});
	/*
	$(window).keydown(function(event){
    	if(event.keyCode == 13) {
      		event.preventDefault();
      		return false;
    	}
  	});
	*/
	$('.tag-container').each(function(index) {
		var target = $(this).data("target");
		var tags = window[target+'s'];
		var active_tags = window['active_'+target+'s'];
		for (var i = tags.length - 1; i >= 0; i--) {
			$(this).children(".inactive-tags").append('<div class="tag"><p>'+ tags[i] + '</p></div>');
		};
		if ($('body').hasClass('edit')) {
			for (var i = active_tags.length - 1; i >= 0; i--) {
				$(this).children(".active-tags").append('<div class="tag"><p>'+ active_tags[i] + '</p></div>');
			};
			$('#'+target).val(active_tags.join(','));
		};
		
	});
	move = function(from,to,what,target) {
		var from = window[from];
		var to = window[to];
		var index = from.indexOf(what)
		to.push(from[index]);
		from.splice(index,1);
		refresh(target);
	}
	refresh = function(target){
		var $target = $('*[data-target='+target+']');
		var inactive_tags = window[target+'s'];
		var active_tags = window['active_'+target+'s'];
		var inactive_array = [];
		var active_array = [];
		for (var i = inactive_tags.length - 1; i >= 0; i--) {
				inactive_array.push('<div class="tag"><p>'+inactive_tags[i]+'</p></div>');
			};
		$target.children('.inactive-tags').html(function(){
			$(this).html(inactive_array.join(''))
			
		});
		for (var i = active_tags.length - 1; i >= 0; i--) {
				active_array.push('<div class="tag"><p>'+active_tags[i]+'</p></div>');				
			};
		$target.children('.active-tags').html(function(){
			$(this).html(active_array.join(''))
			
			$('#'+target).val(active_tags.join(','));
		});
			
	}
	$('body').on('click', '.inactive-tags > .tag',function(){
		var target = $(this).parent().parent().data("target");
		var content = $(this).children().text();
		console.log(target,content);
		move(target+'s','active_'+target+'s',content,target);

	});
	$('body').on('click', '.active-tags > .tag',function(){
		var target = $(this).parent().parent().data("target");
		var content = $(this).children().text();
		console.log(target,content);
		move('active_'+target+'s',target+'s',content,target);

	});
	$('.new-tag').click(function(){
		var target = $(this).parent().data("target");
		var $target = $('*[data-target='+target+']');
		$(this).fadeOut("fast",function(){
			$target.children('.add-tag').fadeIn();
		});

	});
	$(".add-tag").keyup(function(event){
		var target = $(this).parent().data("target");
    	if(event.keyCode == 13){
    		
        	window['active_'+target+'s'].push($(this).val());
        	$(this).val('');
        	refresh(target)
    	}
	});
	
});


	
	// filter_unique_labels = function( input_list ) {
	// 	var output_hash = {};
	// 	// beleirjuk a hash-be
	// 	for (var i = input_list.length - 1; i >= 0; i--) {
	// 		output_hash[ input_list[i] ] = true;
	// 	};
	// 	var output_list = [];
	// 	// vegigmegyunk a hash-en
	// 	for (var label in output_hash) {
	// 		output_list.push( label );
	// 	};
	// 	return output_list.sort();

	// }


	// add_label_to_text_field = function( label_text, $text_field, $active_field, $t ) {
	// 	var existing_value = $text_field.val();
	// 	var new_value = '';
	// 	// ha ures, akkor csak hozzaadjuk az uj erteket
	// 	if (!existing_value || existing_value == '') {
	// 		new_value = label_text;
	// 		add_label_to_active(label_text, $active_field)
	// 		$t.remove();
	// 	}
	// 	// ha nem ures, akkor:
	// 	else {
	// 		// felbontjuk a vesszok menten cimkekre
	// 		var existing_labels = existing_value.split(/,/);
	// 		// minden cimkebol kiszedjuk a felesleges kezdő és záró
	// 		// whitespace-t
	// 		for (var i = existing_labels.length - 1; i >= 0; i--) {
	// 			existing_labels[i] = existing_labels[i].trim();
	// 		}
	// 		// hozzáadjuk az új cimkét az eddigiek után.
	// 		existing_labels.push( label_text );
	// 		add_label_to_active(label_text, $active_field);
	// 		$t.remove();
	// 		existing_labels = filter_unique_labels( existing_labels );
	// 		// és joinoljuk vesszővel
	// 		new_value = existing_labels.join(',');
	// 	}
	// 	$text_field.val( new_value );
	// }

	// $('body').on('click', '.tag',function(){
	// 	var $t = $(this);
	// 	var target = $t.parent().data('target');
	// 	var $target_field = $( target );
	// 	var $active_field  = $('*[data-target='+target+'] > .active-tags ');
	// 	var label_text = $t.children().text();

	// 	add_label_to_text_field( label_text, $target_field, $active_field,$t );
	// 	console.log($target_field.val());
	// });
	// $('body').on('click', '.active-tag',function(){
	// 	var $t = $(this);
	// 	var target = $t.parent().parent().data('target');
	// 	var $target_field = $( target );
	// 	var $active_field = $('*[data-target='+target+']');
	// 	console.log($t.children().val());
	// 	remove_label_from_active($t,$target_field,$active_field);


	// });

	// add_label_to_active = function(label_text, $active_field) {
	// 	console.log ($active_field.val());
	// 	$active_field.append("<div class='active-tag'><p>"+label_text+"</p></div>");
	// }
	// remove_label_from_active = function($item,$active_form,$target_field){
	// 	console.log($active_form.val());
	// 	var form = $active_form.val().split(',');
	// 	form.splice(form.indexOf($item.children().text(),1));
	// 	$active_form.val(form.join(','));
	// 	$target_field.append('<div class="tag"><p>'+ $item.children().text() + '</p></div>');
	// 	$item.remove();

	// }


})