.top-section {
	background: #1e5799; /* Old browsers */
background: -moz-linear-gradient(top,  hsl(212,67%,36%) 0%, hsl(206,70%,70%) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,hsl(212,67%,36%)), color-stop(100%,hsl(206,70%,70%))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  hsl(212,67%,36%) 0%,hsl(206,70%,70%) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  hsl(212,67%,36%) 0%,hsl(206,70%,70%) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  hsl(212,67%,36%) 0%,hsl(206,70%,70%) 100%); /* IE10+ */
background: linear-gradient(to bottom,  hsl(212,67%,36%) 0%,hsl(206,70%,70%) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
position: relative;
height: 100%;
}
.space {
	background: url('space.jpg');
	
}

.moon {
	background: url('moon/1.png') no-repeat;
	position: absolute;
	top: 10%;
	left: 50%;
	z-index: 0;
	width: 47px;
	height: 47px;
}
.sun {
	background: image-url('sun.png') no-repeat;
	position: absolute;
	top: 10%;
	left: -50%;
	z-index: 1;
	width: 200px;
	height: 200px;
}
.cloud {
	/*background: image-url("cloud.png");*/
	position: absolute;
	z-index: 2;
	left:-400px;
}
.silhouette {
	position: absolute;
	bottom: -1px;	
}
.inactive-tags > div, #inactive-search > div {
	background-color: orange;
}
.tag > p{
	text-align: center;
}
.active-tags > div, #active-search > div {
	background-color: red;
	
}
.inactive-tags > div, .active-tags > div, #active-search > div, #inactive-search > div  {
	border: solid black 1px;
	display: inline-block;
	margin-right: 5px;
}
.add-tag {
	display: none;
}
a:hover {
	text-decoration: none;
}
@font-face {
    font-family: sublime;
    src: url(MesloLGS-Regular.ttf);
}
body {
	font-family: sublime;
	background-color: black;
	
}
div.search {
	display: none;
	padding-bottom: 20px;
}
iframe {
	max-width:100%;
	max-height: 100%;
}
div.menu {
	padding-bottom: 20px;

}
.row {
	margin-left: 0px;
	margin-right: 0px;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes cloud-move {
    from {left: -400px;}
    to {left: 2000px;}
}

/* Standard syntax */
@keyframes cloud-move {
 	from {left: -400px;}
    to {left: 2000px;}}