<%= javascript_tag do %>
	var labels = <%= raw @label.to_json %>
	var plangs = <%= raw @plang.to_json %>
	var commands = <%= raw @command.to_json  %>
	var active_labels = <%= raw @article_label.to_json %>
	var active_plangs = <%= raw @article_plang.to_json %>
	var active_commands = <%= raw @article_command.to_json %>

<%end %>

<h1>Cikk hozzáadása</h1>
<%= form_for @article, url:{action:"update"} do |f| %>
	<%= f.label :name, 'Cím' %>
	<%= f.text_field :name %>
<br>
	<%= f.label :content,:id => 'primary' 'Szöveg' %> <br>
	<%= f.text_area :content,  :class => "tinymce", :rows => 20, :cols => 120 %>
<%= tinymce %>
<br>
<div class="row">
		
		<div class="col-lg-4">
			<div class="tag-container col-lg-12" data-target="label">			
				<h4>Cimkék</h4>
				<div class="inactive-tags">
					
				</div>
				<div class="active-tags">
					
				</div>							
				<input type="button" value="Új cimke" class="new-tag">
				<input type="text" class="add-tag">
			</div>				    
		    <%= text_field_tag :label,'', :class => "hidden" %>
	    </div>
		<div class="col-lg-4">
			<h4>Program nyelv</h4>
			<div class="tag-container col-lg-12" data-target="plang">			
				<div class="inactive-tags">
					
				</div>					
				<div class="active-tags">
												
				</div>				
				<input type="button" value="Új cimke" class="new-tag">		
				<input type="text" class="add-tag">
			</div>		
				    
		    <%= text_field_tag :plang,'', :class => "hidden" %>    
		</div>
		
		<div class="col-lg-4">
			<h4>Parancsok</h4>
			<div class="tag-container col-lg-12" data-target="command">
				<div class="inactive-tags">
					
				</div>
				<div class="active-tags">
							
				</div>						
				<input type="button" value="Új cimke" class="new-tag">
				<input type="text" class="add-tag">
			</div>				    
		    <%= text_field_tag :command,'', :class => "hidden" %>
		</div>
		
		
			
</div>	
<br> 
	<%= f.label :language, 'Nyelv' %>
	<%= f.select :language,([['Hungarian', 1], ['English', 2]]) %>

	<%= f.submit 'Mehet!' %>
<%end %>
