<script>
	article = <%=@article.to_json.html_safe %>
	$(function(){
		append_search_result(article);
	})

</script>
<div class="row">	
	<div class="col-lg-12" id="search_results">

	</div>
</div>
<div class="row">
	<div class="article-content col-lg-12">
		

	</div>

</div>
