<div class="cikkek col-lg-12">
	<% @article.each_slice(4) do |x| %>
		<div class="row">
			<% for y in x  %>
				<div class="col-lg-3 col-sm-4">
					<h1> <%= link_to y.name, view_path(y) %>	 </h1><br>
					<div>
						<%= y.content.html_safe %>

					</div>
					<% if user_signed_in? %>
					<%=link_to 'Törlés', admin_destroy_path(y.id), :method => :delete,
                                :title => "Delete #{y.name}", data: { confirm: 'Tuti?' } %> -
                    <%=link_to 'Szerkesztés', admin_edit_path(y.id) %>
                    <%end %>
				</div>
			<%end %>
		</div>
<%end %>


</div>