<script>
var xy;
	$(function(){
		$(".youtube-input").each(function(){
		console.log("addtag: ", this);
		$(this).keydown(function(e){
			console.log( "keydown", e, this );
			if(event.keyCode == 13) {
				event.preventDefault();
				youtube_search();
			}
		});
		function youtube_search (argument) {
			x = {'term': $('.youtube-input').val()}
			$.getJSON('https://itunes.apple.com/search?callback=?',x,function(data){
			xy = data;
		});	
		}
		
	});
	})
</script>
<input type="text" class="youtube-input" ></input>
