<html>
<head>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<%= stylesheet_link_tag params[:controller] %>
	<%= javascript_include_tag params[:controller] %>
  


</head>



<body>
<%= yield %>
</body>
</html>