<!DOCTYPE html>
<html>
<head>
  <title>Ideclarevar</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= javascript_include_tag "http://maps.googleapis.com/maps/api/js?sensor=false" %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  
</head>
<body class="<%= @body_class %>">
<%= javascript_tag do %>
	var search_labels
	var search_plangs
	var search_commands	
	var active_search_labels = []
	var active_search_plangs = []
	var active_search_commands = []
	var article;
	var city, country;
	
  	$.getJSON( "/public/search_tag_get" )
	  	.done(function( json ) {
		    console.log(  json );
		    search_labels = json[0];
		    search_plangs = json[1];
    		search_commands = json[2];
			}
	)
  	
  	
	
	$( window).load(function() {
  				
			});


<%end %>	
    
	<div class="container-fluid space" style="padding:0;position:relative;overflow:hidden;">
		<div class="moon"></div>
		<div class="sun"></div>
		<!-- <div class="space"></div>	 -->
		<div class="top-section">
			<%random_cloud = rand(4)+1%> 
			<%=image_tag("cloud/dark-cloud-#{random_cloud}.png", :class => "cloud")%> 
			<!-- TITLE -->
			<div class="row">
				<div class="col-lg-12" style="text-align:center;">
					<h1 style="z-index:5;position:inherit"><%=link_to "/" do %>I DECLARE <i>var</i><%end %></h1>
				</div>
			</div>	
			<!-- MENÜ -->
			<div class="row menu" style="z-index:5;position:inherit">	
				<div class="col-lg-12 centered" style="float:none;text-align:center;">
					<ul class="nav nav-pills nav-justified">				
						<% if user_signed_in? %>
							<li><%= link_to 'Kilépés', destroy_user_session_path, method: :delete %></li>
							<li><%= link_to 'Cikk hozzáadása', admin_add_path %></li>
						<%else %>
							<li><%= link_to 'Belépés', new_user_session_path%></li>
							<li><%= link_to 'Regisztráció', new_user_registration_path%></li>
						<%end %>
						<li class="search"> <a href="" onclick="$('div.search').slideToggle();return false">Keresés</a>  </li>
					</ul>
				</div>
			</div>	
			<!-- KERESÉS -->	
			<div class="search" style="text-align:center;z-index:5;position:inherit">
				<!-- KERESŐ MEZŐK -->
				<div class="row">
					
					
					<div class="col-lg-4">
						<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#search-modal" onclick="search_refresh('search_labels')">
						  Cimkék
						</button>
		
						<%= text_field_tag(:search_label,'',:class => "hidden",:id => "search_labels") %>
					</div>
					<div class="col-lg-4">
						<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#search-modal" onclick="search_refresh('search_plangs')">
						  Program Nyelv
						</button>
						<%= text_field_tag(:search_plang,'',:class => "hidden",:id => "search_plangs") %>
					</div>
					<div class="col-lg-4">
						<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#search-modal" onclick="search_refresh('search_commands')">
						  Parancsok
						</button>
						<%= text_field_tag(:search_command,'',:class => "hidden",:id => "search_commands") %>
					</div>
					
				</div>		
				<br>
				<!-- KÜLDÉS GOMB -->
				<div class="row">
					<div class="col-lg-12" style="text-align:center">
						<%= submit_tag("Keresés", :class => "slide", :onclick => "ajax_search()") %>
						
					</div>				
				</div>
			</div>
			</div>
			<%=image_tag("land/city-1.png", :class => "silhouette")%> 
	</div>
	<!-- FEJLÉC VÉGE -->
	<div class="container-fluid" style="background-color:black;z-index:5;min-height:50vh;position:relative;">

		<%=session[:last_viewed] %>
		<h1 class="city-welcome" style="text-align:center;color:teal;"></h1>
		<%= yield %>
	</div>
	<div class="modal fade" id="search-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  		<div class="modal-dialog">
  		  <div class="modal-content">
  		    <div class="modal-header">
  		      <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  		      <h4 class="modal-title" id="myModalLabel">Modal title</h4>
  		    </div>
  		    <div class="modal-body">
  		      <div id="inactive-search">
  		      	
  		      </div>
  		      <div id="active-search">
  		      	
  		      </div>
  		    </div>
  		    <div class="modal-footer">
  		      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>  		      
  		    </div>
  		  </div>
  		</div>
	</div>
</body>
</html>
